* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 10% 10px; // TODO: remove 10px horizontal margin
  background-color: red;
  padding: 20px;
  width: 1500px;
  display: flex;
  max-height: 500px;
}

.section-left {
  background-color: pink;
  width: 75%;
}
.section-right {
  background-color: purple;
  width: 25%;
}

.row-top {
  background-color: lightcoral;
  height: 50%;
  .top-image-container {
    background-color: blue;
    max-height: 100%;
    display: flex;
    flex-flow: row-reverse;
  }
  img {
    margin: 10px 0;
    margin-right: 10px;
  }
}

.row-bottom {
  background-color: lightseagreen;
  display: flex;
  height: 50%;
  justify-content: space-between;
  .bottom-image-container {
    display: flex;
    flex-flow: row-reverse;
    max-height: 100%;
    width: 85%;
    background-color: orange;
  }
  img {
    margin: 0 0;
    margin-right: 10px;
  }
}

.button-container {
  background-color: green;
  width: 5%;
}
.button {
  background-color: gray;
  cursor: pointer;
  height: 56px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    // border: 1px solid red;
    margin-left: 10px;
  }
}
.button-right {
  margin-top: 10px;
}
.button-enabled {
  border: 2px solid #134880;
}
.button-disabled {
  border: 2px solid #dddddd;
}
