// @import url('https://fonts.cdnfonts.com/css/source-sans-pro');

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url(assets/fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url(assets/fonts/SourceSansPro-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SourceSansPro-Regular', sans-serif;
}

.container {
  margin: 0px auto;
  // padding: 20px;
  // width: 1500px;
  max-width: 940px;
  height: 730px;
  display: flex;
  // max-height: 500px;
  flex-direction: column;
}
header,
footer {
  height: 100px;
  // margin: 0 auto;
  // padding: 0;
  background: #dddddd;
}
.slider-container {
  display: flex;
  height: 500px;
  margin: 60px 0;
}
.section-left {
  // background-color: red;
  // width: 75%;
  width: 620px;
  z-index: 0;
}

.section-right {
  // background-color: blue;
  // width: 25%;
  width: 300px;
  margin-left: 20px;
  padding-top: 5px;
  z-index: 1;
  h1 {
    font-family: 'SourceSansPro-Bold';
    font-size: 30px;
    line-height: 37.5px;
    color: #134880;
    padding-bottom: 10px;
    // padding: 10px;
  }
  h2 {
    font-size: 18px;
    line-height: 26px;
    // padding: 10px;
    color: #47494c;
  }
}

img {
  border-radius: 5px;
}

.row-top {
  // height: 50%;
  height: 200px;
  display: flex;
  flex-flow: row-reverse;
  margin-top: 10px;
  img {
    // margin: 10px 0;
    margin-right: 10px !important;
    transition: width 0.15s linear, margin-right 0.15s linear;
  }
  img:first-of-type {
    margin-right: 0 !important;
  }
}

.shrink {
  width: 0px !important;
  transition-delay: 10ms;
}

.row-bottom {
  display: flex;
  margin-top: 10px;
  // background-color: orange;
  // height: 50%;
  height: 200px;
  justify-content: space-between;
  .bottom-image-container {
    display: flex;
    flex-flow: row-reverse;
    // max-height: 100%;
    // width: 85%;
    width: 460px;
    img {
      margin: 0 0;
      margin-right: 10px;
      transition: width 0.15s linear, margin-right 0.15s linear;
    }
    img:first-of-type {
      margin-right: 0 !important;
    }
  }
}

.button-container {
  // width: 5%;
  width: 60px;
  margin-left: 20px;
  // background-color: green;
}

button {
  background: none;
  color: inherit;
  padding: 0;
  outline: inherit;
  cursor: pointer;
  height: 60px;
  width: 60px;
  // background-color: red;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  transition: 200ms ease-in-out;
}

button:hover {
  border: 1px solid #134880;
}

.button-right {
  margin-top: 10px;
}

.button-enabled {
  border: 2px solid #134880;
}

.button-disabled {
  border: 2px solid #dddddd;
}
